{% extends 'layout.html' %}
{% load static %}
<!-- custom css -->
{% block css %}
{% endblock %}
<!-- custom css end-->
{% block content %}
    <!-- ================ contact section start ================= -->
      <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">Change Password</h2>
                    </div>
                    <div class="col-lg-8">
                      <form class="form-contact" id="myform" action="" method="post" novalidate enctype="multipart/form-data">
                       {% csrf_token %}
                      {% if messages %}
                      <ul class="messages text-center">
                      {% for message in messages %}
                       <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                       {% endfor %}
                       </ul>
                       {% endif %}
                          <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                <input class="form-control" name="old_password" id="old_password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Old Password'" placeholder="Old Password" value="">
                                </div>
                            </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <input class="form-control" name="password" id="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" placeholder="Password">
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <input class="form-control" name="confirm_password" id="confirm_password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'" placeholder="Confirm Password">
                                  </div>
                              </div>
                          </div>
                          <div class="form-group mt-3">
                              <button type="submit" class="button button-contactForm boxed-btn">Change Password</button>
                          </div>
                      </form>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
  <h3>Approved By Government Of India</h3>
<img src="{% static 'assets/img/emblem-dark.png' %}" width="AUTO">

                    </div>
                </div>
            </div>
        </section>
    <!-- ================ contact section end ================= -->
{% endblock %}
<!-- custom js -->
{% block js %}
<script src="{% static 'validate/jquery.validate.min.js' %}"></script>
<script src="{% static 'validate/additional-methods.min.js' %}"></script>
<script>
$(document).ready(function(){
$( "#myform" ).validate({
       ignore: [],
       rules: {
     		old_password: {
     			required: true,
           minlength: 5,
           maxlength: 20,
     		},
         password: {
           required: true,
           minlength: 5,
           maxlength: 20,
         },
         confirm_password: {
           required: true,
           minlength: 5,
           maxlength: 20,
           equalTo: "#password"
         },
       }
});
});
</script>
{% endblock %}
<!-- custom js end-->
