{% extends 'layout.html' %}
{% load static %}
<!-- custom css -->
{% block css %}
{% endblock %}
<!-- custom css end-->
{% block content %}
    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/about.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>About us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- Support Company Start-->
        <div class="support-company-area fix section-padding2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->                
                            <div class="support-caption">
                                <p class="pera-top">Industrial tour has its own importance in a career of a student who is pursuing a professional degree. It is considered as a part of thecurriculum. The objective of an industrial tour is to provide an insight regarding internal working of companies.</p>
                                <p>Industrial visit has its own importance in a career of a student who is pursuing a professional degree. It is considered as a part of college curriculum, mainly seen in engineering courses. Objectives of industrial visit is to provide students an insight regarding internal working of companies. We know, theoretical knowledge is not enough for making a goodprofessional career. With an aim to go beyond academics, industrial visit provides student a practical perspective on the world of work.

It provides students with an opportunity to learn practically through interaction, working methods and employment practices. It gives them exposure to current work practices as opposed to possibly theoretical knowledge being taught at college. Industrial visits provide an excellent opportunity to interact with industries and know more about industrial environment. Industrial visits are arranged by colleges to students with an objective of providing students functional opportunity in different sectors like IT, Manufacturing and services, finance and marketing. Industrial visit helps to combine theoretical knowledge with industrial knowledge.Industrial realities are opened to the students through industrial visits.

The college organizes industrial visits to help students understand about the practical aspects of production, marketing, labour relations and other activities managed by industrial sectors. Industrial visits to factory units of Provougue, Pantaloon, etc. were arranged for students. The college is actively working for improving the knowledge of their students by acquainting them with fundamental concepts and organizing seminars, workshop and guest lectures by eminent banking and industrial personalities.
We also arrange regular competitions, paper presentations, projects, assignments, quiz, group discussion, management games, field survey, posters, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img">
                            <img src="{% static 'assets/img/service/support-img.jpg' %}" alt="">
                            <div class="support-img-cap text-center">
                                <p>Since</p>
                                <span>1994</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Company End-->
    </main>
{% endblock %}
<!-- custom js -->
{% block js %}
{% endblock %}
<!-- custom js end-->
